.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.2);
    text-align: center;

    @include radius(50%);

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 2rem;
      right: 2rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;

    @include radius(50%);
    @include transition(
      transform,
      0.6s,
      cubic-bezier(0.86, 0, 0.07, 1),
      0s
    ); //generator https://cubic-bezier.com-webkit-transition:

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 2rem;
      right: 2rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -10rem;
    z-index: 1500;
    opacity: 0;
    width: 0;

    @include transition(all, 0.6s, cubic-bezier(0.68, -0.55, 0.265, 1.55), 0s);

    @include respond(tab-port) {
      left: -1rem;
    }
  }

  &__list {
    list-style: none;
    text-align: center;

    @include abs-center;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      text-decoration: none;
      padding: 1rem 2rem;
      color: $color-white;
      font-weight: 300;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 250%;

      @include transition(all, 0.4s, ease, 0s);

      span {
        margin-right: 1rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;

      @include translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    @include scale(100);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 110%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      @include transition(all, 0.2s, ease, 0s);
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    @include rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    @include rotate(-135deg);
  }

  &__checkbox:checked + &__button:hover &__icon::before,
  &__checkbox:checked + &__button:hover &__icon::after {
    left: -0.2rem;
    width: 3.4rem;
  }
}
