.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;

  @include respond(phone-tab) {
    grid-column: 1 / -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-row-gap: 5vh;
    grid-column-gap: 2rem;
    align-items: center;

    @include respond(phone-tab) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @include respond(phone) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    display: block;
    width: 10rem;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -2rem;
  }
}
