/* Imports */
/*
Breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

IMPORTANT using em in MEDIA QUERY
1em = 16px DEFAULT
*/
/* VARIABLES */
/* COLORS */
/* GRID */
/* Partial sass file */
/* Its start alwas with a dash ex= _base.scss*/
/* For all the ellement and also the pseudi elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* "ERVEN" It take the value that is set in the body */ }

html {
  /* Default root font size is 16px (100%)
  IMPORTANT put font sizes in % because user the have to posibilty to change the font size in the browser.
  And that will not work if we use PX*/
  font-size: 62.5%;
  /* 62.35% -> 10px ROOT font size is usefull for 'rem' */ }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  /* 3 * 10px of the root size (font size)*/ }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

/* Animation */
@keyframes moveInLeft {
  /* START */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem);
    /* -100pxindexposition transform: translateX(-100px) rotate(60deg);*/ }
  /* .... % */
  /* 60% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
      } */
  80% {
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem); }
  /* END */
  100% {
    opacity: 1;
    /* Standard position */
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

/* Animation */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem); }
  /* .... % */
  80% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  /* font-size: 16px; */
  line-height: 2;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* It's more a fix for animation after an animation there is a little position shaking you have to added on the main block*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .heading-primary--main {
    /* span is default a inline element so we make it a display block to create 2 lines */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    /* Add the name of the animatin that created in @keyframes*/
    animation-name: moveInLeft;
    /* The time that the animation takes */
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* It's com easier out */
    /* 
        animation-delay: 3s; here can you give delay of the animation 
        animation-iteration-count: 3; here can you give the count of the animation how many time that he have to do it
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    margin-bottom: 5rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  will-change: opacity;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewY(2deg);
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 4rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 5rem !important; } }

.bg-video {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  cursor: pointer;
  border: none; }

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /*By hovering we bring the button a little up by using the Y as(Y as is going up to down)*/
  transform: translateY(-0.3rem);
  -webkit-transform: translateY(-0.3rem);
  -moz-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  -o-transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /*By clicking we bring the button a little lower byusing the Y as(Y as is going up to down)*/
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s; }

.btn--white {
  background-color: #fff;
  padding: 1rem 3rem;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  padding: 1rem 3rem;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 1s backwards;
  -webkit-animation: moveInBottom 0.5s ease-out 1s backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba #000, 0.15;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba #000, 0.15;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.card {
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 55rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55rem;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("/img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("/img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("/img/nat-7.jpg"); }
  .card__heading {
    width: 70%;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    line-height: 5rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .card__price-box {
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
      .card__side {
        position: relative;
        height: auto;
        box-shadow: none; }
        .card__side--back {
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          transform: rotateY(0);
          -webkit-transform: rotateY(0);
          -moz-transform: rotateY(0);
          -ms-transform: rotateY(0);
          -o-transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0); }
      .card__details {
        padding: 1rem; }
      .card__cta {
        width: 100%;
        text-align: center;
        padding: 6rem 4rem 4rem 4rem;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0); }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    z-index: 1;
    width: 55%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.33%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          z-index: 2;
          transform: scale(1.3);
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3); } }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 0;
          top: 1rem;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1); } }
    .composition__photo:hover {
      z-index: 2;
      outline: 1.5rem solid #55c57a;
      transform: translateX(-5px) scale(1.05);
      -webkit-transform: translateX(-5px) scale(1.05);
      -moz-transform: translateX(-5px) scale(1.05);
      -ms-transform: translateX(-5px) scale(1.05);
      -o-transform: translateX(-5px) scale(1.05); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: transform 0.2s ease 0s;
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    will-change: opacity; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0rem; } }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05);
    -webkit-transform: translateY(-2rem) scale(1.05);
    -moz-transform: translateY(-2rem) scale(1.05);
    -ms-transform: translateY(-2rem) scale(1.05);
    -o-transform: translateY(-2rem) scale(1.05); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  display: block;
  width: 90%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 2px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.5rem;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden; }

.form__radio-group {
  width: 49.7%;
  display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  position: absolute;
  left: 0;
  top: -0.4rem;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #55c57a;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
  -khtml-opacity: 1; }

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }
  @supports (backdrop-filter: blur(10px)) or (-webkit-blackdrop-filer: blur(10px)) {
    .popup {
      backdrop-filter: blur(10px);
      -webkit-blackdrop-filer: blur(10px);
      background: rgba(0, 0, 0, 0.4); } }
  .popup__content {
    width: 75%;
    background: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.6s ease 0.2s;
    -webkit-transition: all 0.6s ease 0.2s;
    -moz-transition: all 0.6s ease 0.2s;
    -ms-transition: all 0.6s ease 0.2s;
    -o-transition: all 0.6s ease 0.2s; }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        max-height: 95%;
        overflow: auto; } }
  .popup__left {
    width: 33.33%;
    display: table-cell; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        width: 100%;
        display: inline-block; } }
  .popup__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        display: block; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .popup__img {
        width: 50%;
        height: auto;
        float: left; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1;
        column-gap: 0rem;
        margin-bottom: 2rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    right: 5rem;
    top: 0;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s; }
    @media only screen and (max-width: 37.5em) {
      .popup__close:link, .popup__close:visited {
        right: 2rem;
        font-size: 4rem; } }
  .popup__close:hover {
    color: #55c57a; }

.story {
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 8rem;
  font-size: 1.6rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: skewX(-12deg);
  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -o-transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0);
      -webkit-transform: skewX(0);
      -moz-transform: skewX(0);
      -ms-transform: skewX(0);
      -o-transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    transform: translateX(-3rem) skewX(12deg);
    -webkit-transform: translateX(-3rem) skewX(12deg);
    -moz-transform: translateX(-3rem) skewX(12deg);
    -ms-transform: translateX(-3rem) skewX(12deg);
    -o-transform: translateX(-3rem) skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0);
        -webkit-transform: translateX(-3rem) skewX(0);
        -moz-transform: translateX(-3rem) skewX(0);
        -ms-transform: translateX(-3rem) skewX(0);
        -o-transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    -webkit-transform: translateX(-4rem) scale(1.2);
    -moz-transform: translateX(-4rem) scale(1.2);
    -ms-transform: translateX(-4rem) scale(1.2);
    -o-transform: translateX(-4rem) scale(1.2);
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s; }
  .story__text {
    transform: skewX(12deg);
    -webkit-transform: skewX(12deg);
    -moz-transform: skewX(12deg);
    -ms-transform: skewX(12deg);
    -o-transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0);
        -webkit-transform: skewX(0);
        -moz-transform: skewX(0);
        -ms-transform: skewX(0);
        -o-transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .story:hover .story__img {
    opacity: 1;
    filter: blur(2px) brightness(90%);
    -webkit-filter: blur(2px) brightness(90%);
    transform: translateX(-4rem) scale(1);
    -webkit-transform: translateX(-4rem) scale(1);
    -moz-transform: translateX(-4rem) scale(1);
    -ms-transform: translateX(-4rem) scale(1);
    -o-transform: translateX(-4rem) scale(1); }

.footer {
  background-color: #333;
  color: #f7f7f7;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2px;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2px;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        width: 100%; } }

.row {
  max-width: 114rem;
  /* 1 rem = 10px */
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem)); }

.header {
  height: 95vh;
  /* 0.8 is the oppacity of the image (bepalen hoe transparant) */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  /* polygon = veelhoek (x y, x y, x y, x y) left top -> right top -> right bottom -> left bottom */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  /* position: relative is for the parent to position the childs in absolute */
  position: relative;
  /* NESTING &= .header */
  /* .logo-logo:hover {
      animation: moveInRight 1s ease-out;
      -webkit-animation: moveInRight 1s ease-out;
    } */ }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg"); } }
  .header__logo-box {
    /* position: relative is for the parent to position the childs in absolute */
    position: absolute;
    top: 4rem;
    /* 4 * 10px of the root size (font size)*/
    left: 4rem;
    /* 40px */ }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    /* standard he position the box 50% on left by using the edge of left side of the element and the same for the top */
    /* But we want that he calculate the 50% on the center of the element instead of the edges */
    /* So, using transform and translate the X and Y as of the element to -50% */
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -webkit-transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -moz-transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -ms-transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -o-transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1) 0s; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 2rem;
      right: 2rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -10rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -ms-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; }
  @media only screen and (max-width: 56.25em) {
    .navigation__nav {
      left: -1rem; } }

.navigation__list {
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }
  @media only screen and (max-width: 56.25em) {
    .navigation__list {
      width: 100%; } }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 110%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button:hover .navigation__icon::before,
.navigation__checkbox:checked + .navigation__button:hover .navigation__icon::after {
  left: -0.2rem;
  width: 3.4rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* 95vh - 75vh */ }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-story {
  padding: 15rem 0;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-story {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("/img/nat-10.jpg");
  background-size: cover;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url("/img/nat-10.jpg"); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 100%), url("/img/nat-10.jpg"); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
