/* Partial sass file */
/* Its start alwas with a dash ex= _base.scss*/

/* For all the ellement and also the pseudi elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* "ERVEN" It take the value that is set in the body */
}

html {
  /* Default root font size is 16px (100%)
  IMPORTANT put font sizes in % because user the have to posibilty to change the font size in the browser.
  And that will not work if we use PX*/
  font-size: 62.5%; /* 62.35% -> 10px ROOT font size is usefull for 'rem' */

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 52.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 43.75%; // 1rem = 7px, 7/16 = 43.75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem; /* 3 * 10px of the root size (font size)*/

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
